h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrarTweet,
.borrarTweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bolder;
}

.button-reset,
input[type="reset"].button-primary,
.button-reset:hover,
input[type="reset"].button-primary:hover{
    float: right;
    background-color: #f03933;
  border-color: #f03333;
}

input[type="reset"]:focus {
    background-color: red;
}

textarea {
    resize: none;
  }